<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    html {
      zoom: 0.6;
    }
  </style>
</head>

<body style="margin: 20px !important; padding: 0 !important; background-color: #eeeeee; padding-top:10%"
  bgcolor="#eeeeee">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10%">
    <tr>
      <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
        <table align="center" border="0" cellpadding="0" width="100%" cellspacing="0" class="mobile-table">
          <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
            <td class="content-wrap"
              style=" padding-top: 425px !important; padding-left: 22px !important; padding-bottom: 1250px !important; background-color: #fff !important; background-repeat: no-repeat !important; background-size: 100% 100% !important; background-image: url({{letter_pad}}) !important; font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; vertical-align: top; margin: 0; padding: 20px;background-color: #fff"
              valign="top">
              <meta itemprop="name" content="Confirm Email"
                style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; margin: 0;" />
              <table width="100%" cellpadding="0" cellspacing="0"
                style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; margin: 0;">
                <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; vertical-align: top; margin: 0; padding: 0 0 0px;"
                    valign="top">
                    <p>Ref. No.:{{reference_no}}<br />
                      <p style="float:right;">
                        Date: {{today_date}}
                      </p>
                    </p>
                  </td>
                </tr>
                <tr
                  style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <b>To,</b><br>
                    <b>{{candidate_name}}</b><br />
                    <p>
                      <center>
                        <b style="text-decoration:underline;">Sub: Offer Letter for the Post of {{designation}}.</b>
                      </center>
                    </p>
                  </td>
                </tr>
                <tr
                  style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 14.5pt; vertical-align: top; margin: 0; padding: 0 0 0px;"
                    valign="top">
                    <b>{{salutation}} {{candidate_name}},</b><br>
                  </td>
                </tr>
                <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; text-align:justify;vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <p>
                      With reference to your application and the subsequent interview you had with us, We will be
                      pleased to appoint you as <b>{{designation}}</b> from the date of
                      <b>{{date_of_joining}}</b>.Your
                      appointment is as per the rules and regulations applicable to the establishment and its
                      employees
                      in addition to the below mentioned terms and conditions.
                    </p>
                    <ol>
                      <li>
                        <b>Probation Period:</b> You will be on Training Period for {{probation_period}} Months
                        followed
                        by the Probation Period of 3 months from the date of appointment. Once you complete your
                        Probation Period successfully governed by the rules and regulations mentioned in this letter
                        and
                        also If your performance is found to be satisfactory then the management will confirm your
                        employment. Your probation period shall continue unless you are confirmed in the employment of
                        the company in writing.
                      </li><br />
                      <li><b>Posting:</b> You will be posted at our <b>{{department}}</b>, <b>{{office_location}}</b>,
                        Surat in a initially. Your services with the Company is transferrable, to any other department
                        of the company, or to any branch or unit of the company or its sister concerns or subsidiaries
                        either locally or at any other place in India or abroad whether in existence or may come into
                        existence hereafter.</li><br />
                      <li><b>Remuneration:</b> You will be paid at Rs. 15,000/- Month during your Training period,
                        Once
                        your training period is completed you will be paid at Rs. 15,000/- Month during your probation
                        period as finalized with you during the interview and also as per the rules and regulations of
                        the Company. Upon Successful completion of your probation period you will be entitled to
                        receive
                        the salary of Rs. 15,000/- Month governed by the rules and regulations of the organization
                        till
                        your next appraisal.</li><br />
                      <li><b>Termination by Notice:</b> Your services/employment may be terminated at any time by
                        giving
                        one month's notice in writing or on payment of basic/consolidated salary in lieu thereof as
                        liquidated damages.</li><br />
                      <li><b>Confidentiality :</b> You will not, under any circumstances divulge or make public or
                        make
                        personal use of any information, knowledge, know how or other details provided to you or
                        confided in you by the Company management or has come to your notice during the course of your
                        employment with the Company.</li><br />
                      <li><b>Reporting:</b> You will report to your superiors.</li>
                      <br />
                      <li><b>Continuous Absence:</b> Absence continuously for a period of 10 days without leave or
                        prior
                        permission of/or intimation to the management would make you to lose your lien on this service
                        and your services may be liable to serious disciplinary action including dismissal from the
                        employment.</li><br />
                      <li><b>Double Services/Employment:</b> You will not engage in any Services/Employment (with or
                        without wages), whether full or part time without prior consent of the management, at any
                        other
                        place while you are in the services of this Company.</li><br />
                      <li><b>Personal Data:</b> This appointment is based on the information given by you to us in
                        your
                        personal data form. In case any of the material/information found incorrect, it would amount
                        to
                        suppression or false details furnished to the Company. In that eventuality, the management
                        shall
                        have rights to take appropriate action including termination of your employment.</li><br />
                      <li>You also undertake to furnish the changes in your address, telephone numbers, E-Mail address
                        time to time, failing which last available address with the Company will be final for all
                        communication and correspondence.</li><br />
                      <li style="page-break-after:left;">You will be superannuated from the employment of the Company on
                        attaining the age of 58
                        years
                        as per records available with the Company.</li><br />
                    </ol>
                  </td>
                </tr>
                <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <b>The above terms and conditions are subject to revision from time to time as per the
                      requirements
                      of the Company.</b>
                  </td>
                </tr>
                <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <b>If the above terms and conditions are acceptable to you, kindly sign the duplicate copy of this
                      letter as a token of your acceptance within 2 days of this receipt.</b>
                  </td>
                </tr>
                <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
                  <td class="content-block"
                    style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <b>Failure to communicate from your part regarding your appointment will ensure that your
                      appointment stands automatically cancelled upon the expiry of the above mentioned period.</b>
                  </td>
                </tr>
                <!-- <tr style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; margin: 0;">
                  <td class="content-block" style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                    <b>Yours Truly,</b><br><br />
                    <img src={{head_url}} style="display: block; border: 0px;width:15%;height:10%margin-left:8%;" /><br />
                    <b>Name: {{head_name}}<br>
                      Designation: {{head_designation}}<br><br /></b>
                  </td>
                  <td class="content-block" style="font-family: Verdana,Geneva,sans-serif; box-sizing: border-box; font-size: 12pt; vertical-align: top; margin: 0; padding: 0 0 0px;" valign="top">
                    <b>Consent of the Candidate,</b><br><br />
                    <img src="" style="display: block; border: 0px;width:15%;margin-left:8%;margin-top:27%" /><br />
                    <b>Name: {{candidate_name}}<br>
                      Date: <br><br /></b>
                      <br><br>
                  </td>
                </tr> -->
              </table>
              <table style="font-family: Verdana,Geneva,sans-serif;font-size: 12pt;">
                <tr>
                  <td class="content-block" valign="top">
                    <b>Yours Truly,</b><br><br />
                    <img src={{letter_sign}}
                      style="display: block; border: 0px;width:140px;height:100px;margin-left:8%;" /><br />
                    <b>Name: {{owner_name}}<br>
                      Designation: {{designation}}<br><br /></b>
                  </td>
                  <td>
                    <div style="float:right;margin-left:500px;text-align:left;">
                      <b>Consent of the Candidate,</b><br><br /><br><br><br><br>
                      <img src="" /><br />
                      <b style="margin-top:30%;text-transform:capitalize;">Name: {{salutation}} {{candidate_name}}<br>
                        Date: <br><br /></b>
                      <br><br>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>